@media(max-width: 240px) {

    .header {
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .header img {
        width: 55px;
    }

    .contents {
        margin-top: 0px;
    }

    .contents .image img {
        width: 160px;
        margin-bottom: 10px;
    }

    .contents .text {
        gap: 5px;
    }

    .contents .text h1 {
        margin: 0px 14px;
        font-size: 1.2rem;
    }

    .contents .text p{
        margin: 0px 15px;
        font-size: 0.85rem;
    }
    
    .contents .button {
        width: 70px;
        font-size: 0.6rem;
        padding: 3px;
        margin: 5px 0px 10px 0px;
    }
    
    .footer {
        margin-top: 0px;
    }

    .footer .social-icons a {
        height: 15px;
        width: 15px;
    }

    .footer .social-icons a i {
        font-size: 0.7rem;
    }
    
}