@media(max-width: 688px) {

    .container {
        gap: 0px;
    }

    .header {
        margin-left: 80px;
    }

    .header img {
        width: 180px;
    }

    .contents .text {
        gap: 15px;
    }

    .contents .text h1{
        margin: 0px 100px;
        font-size: 3.3rem;
    }

    .contents .text p{
        margin: 0px 90px;
        font-size: 2.23rem;
    }
    
    .contents .button {
        width: 250px;
        font-size: 1.7rem;
        padding: 10px;
    }

    .footer .social-icons a {
        height: 35px;
        width: 35px;
        border: 2px solid #ffffff;
    }

    .footer .social-icons a i {
        font-size: 1.5rem;
    }
    
}